build/
build_*/
build-py/
compile_commands.json
CMakeUserPresets.json

.cache/
.direnv

__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

dist/
*.egg-info/

node_modules/
prebuilds/

.commandcode/

csharp/**/bin/
csharp/**/obj/
csharp/native/
!csharp/build/
*.nupkg
